@font-face {
    font-family: "roboto-light";
    src: url("/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "roboto-medium";
    src: url("/fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("/fonts/Roboto-Regular.ttf");
}


@font-face {
    font-family: "Kanit-Bold";
    src: url("/fonts/Kanit-Bold.ttf") format('truetype');
}

.main {
    --primary-color: #FCFCFC;
    --secondary-color: #CCCCCC;
    --background-color: #EEEEEE;
    --sidebar-color:#e3e3e3;
    --highlight-color: #7233DF;
    --invert100-img: invert(0);
    --invert0-img: invert(1);
    --text-color: #111111;
    --hover: #8d8c8c;
    --shadow-1: rgba(114, 51, 223, 0.3);
    --shadow-2: rgba(144, 51, 223, 0.2);
    --shadow-3: rgba(144, 51, 223, 0.1);
    --shadow-4: rgba(144, 51, 233, 0.00);
    --shadow-5: rgba(144, 51, 233, 0.00);
    --selected-highlight-color:#ababab;
    

    html, body {
        color-scheme: light;
    }
}




@media(prefers-color-scheme: dark) {
    .main {
        --primary-color: #111111;
        --secondary-color: #444444;
        --background-color: #222222;
        --sidebar-color: #282828;
        --highlight-color: #B285FF;
        --invert100-img: invert(1);
        --invert0-img: invert(0);
        --text-color: #FCFCFC;
        --hover: #ccc;
        --shadow-1: rgba(178, 133, 255, 0.3);
        --shadow-2: rgba(178, 133, 255, 0.2);
        --shadow-3: rgba(178, 133, 255, 0.1);
        --shadow-4: rgba(178, 133, 255, 0.00);
        --shadow-5: rgb(178, 133, 255, 0.00);
        --selected-highlight-color: #3b3b3b;
    }

    html, body {
        color-scheme: dark;
    }
}

[color-scheme ='light'] {
    .main {
        --primary-color: #FCFCFC;
        --secondary-color: #CCCCCC;
        --background-color: #EEEEEE;
        --sidebar-color: #e3e3e3;
        --highlight-color: #7233DF;
        --invert100-img: invert(0);
        --invert0-img: invert(1);
        --text-color: #111111;
        --hover: #8d8c8c;
        --shadow-1: rgba(114, 51, 223, 0.3);
        --shadow-2: rgba(144, 51, 223, 0.2);
        --shadow-3: rgba(144, 51, 223, 0.1);
        --shadow-4: rgba(144, 51, 233, 0.00);
        --shadow-5: rgba(144, 51, 233, 0.00);
        --selected-highlight-color: #ababab;
    }

    html, body {
        color-scheme: light;
    }
}

[color-scheme ='dark'] {
    .main {
        --primary-color: #111111;
        --secondary-color: #444444;
        --background-color: #222222;
        --sidebar-color: #282828;
        --highlight-color: #B285FF;
        --invert100-img: invert(1);
        --invert0-img: invert(0);
        --text-color: #FCFCFC;
        --hover: #ccc;
        --shadow-1: rgba(178, 133, 255, 0.3);
        --shadow-2: rgba(178, 133, 255, 0.2);
        --shadow-3: rgba(178, 133, 255, 0.1);
        --shadow-4: rgba(178, 133, 255, 0.00);
        --shadow-5: rgba(178, 133, 255, 0.00);
        --selected-highlight-color: #3b3b3b;
    }

    html, body {
        color-scheme: dark;
    }
}

