@import "../styles/light-dark.scss";
@import "../styles/modal-style.scss";


.modal {
    .modal-body {
        background-color: var(--primary-color);
        color: var(--text-color);
        padding: 20px;

        ::deep.modal-head {
            svg {
                transform: rotate(180deg) !important;
                cursor: pointer;
            }
        }

        .modal-content {
        }


        .modal-foot {
            ::deep .mud-button-filled-default {
                margin-right: 15px;
                border: 1px solid var(--highlight-color) !important;
                color: var(--text-color);
                border-radius: 50px !important;
            }

            ::deep .mud-button-filled-primary {
                color: white;
                background-color: var(--highlight-color);
                border-radius: 50px !important;
            }
        }
    }
}
