@import "../../../styles/light-dark.scss";

.body-container {

    ::deep .tk-container {
        background-color: unset;

        .title {
            display: none;
        }

        .mud-input-control .mud-input-outlined-border {
            background-color: var(--background-color);
            border: 2px solid var(--background-color)!important;
        }
    }
}
