@import "../../../styles/light-dark.scss";

.main {
}
.wrapper-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    overflow-y: auto;

    .content {
        overflow: hidden;
        height: 100%;
        width: 100%;
        max-width: 540px;

        .felx-container {
            overflow: hidden;
            height: 100%;

            .scroll-list {
                overflow-y: auto;
                scrollbar-gutter: stable;
                height: calc(100dvh - 350px);


                .empty {
                    height: 270px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: var(--text-color);
                        font-family: 'Kanit-Bold';
                        font-size: 1.17em;
                    }

                    img {
                        width: 70px;
                        opacity: 0.8;
                        filter: var(--invert100-img);
                    }
                }

                .scroll-content {
                    .interval {
                        text-transform: capitalize;
                        font-family: roboto-medium;
                    }

                    .legend {
                        width: 40px;
                        height: 24px;
                        text-align: center;
                    }

                    ::deep .mud-tertiary-text {
                        color: var(--highlight-color) !important;
                    }
                }
            }

            .list-empty {
                height: 100%;
            }
        }

        ::deep .mud-input-control {
            .mud-input {
                .mud-input-adornment-icon {
                    fill: var(--text-color);
                    z-index: 2;
                }

                .mud-input-slot {
                    color: var(--text-color);
                    opacity: .8;
                    z-index: 2;
                }
            }

            .mud-input-outlined-border {
                border-radius: 50px !important;
                border: 2px solid var(--secondary-color) !important;
                background-color: var(--secondary-color);
                margin-bottom: 5px !important;
            }

            .mud-input-adornment {
                .mud-icon-root {
                    fill: var(--text-color) !important;
                }
            }

            .mud-input {
                font-family: "Kanit-Bold";
            }
        }

        ::deep .mud-switch {
            margin: 15px 0px;

            .mud-switch-span .mud-switch-track {
                background-color: var(--highlight-color);
            }
        }

        ::deep .mud-button-filled.mud-button-filled-primary {
            border-radius: 50px;
            background-color: var(--highlight-color);
            margin-top: 10px;

            &:disabled {
                background-color: var(--highlight-color) !important;
                opacity: .5;
            }
        }
    }

    ::deep .mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol {
        color: var(--text-color);
        font-family: 'Kanit-Bold';
        background-color: unset;
    }

    ::deep .mud-input:focus-within ~ label.mud-input-label.mud-input-label-inputcontrol {
        color: var(--text-color) !important;
    }

    ::deep .icon {
        color: var(--text-color);
    }


    ::deep .modal-tabs.slide {
        .mud-tabs-tabbar {

            .mud-tabs-tabbar-inner {
                .mud-tabs-tabbar-content {
                    .mud-tabs-tabbar-wrapper {
                        ::after {
                            transform: translateX(100%);
                        }
                    }
                }
            }
        }
    }

    ::deep .mud-list {
        margin:10px;
        .mud-list-item {
            .mud-list-item-text {
                .mud-typography,
                .mud-typography-body1 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }

                p {
                    flex: 1;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 100%;
                    height: 1.2em;
                    white-space: nowrap;
                }

                .del-btn {
                    color: var(--text-color);
                }
            }
        }
    }
}
