@import"../../../styles/light-dark.scss";

.main {
    .cloud-add-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 77px;
        padding: 20px;
        justify-content: flex-start;

        .cloud-options {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            max-width: 300px;
            max-height: 90px;
            background-color: var(--secondary-color);
            border-radius: 20px;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            cursor: pointer;

            &:nth-of-type(1) {

            }

            .cloud-icon {
                width: 110px;
                padding: 20px;
                
            }

            h3 {
                color: var(--text-color);
                font-family: "roboto-light";
            }

            .coming-soon {
                position: absolute;
                bottom: 36px;
                right: 0;

                .cloud-icon {
                    opacity: 1;
                }
            }
        }
    }
}
