@import"../../../styles/light-dark.scss";

.mian {
}
.no-pointer {
    pointer-events: none;
}
.btn {
    display: flex;
    padding: 10px;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.file-browser {
    min-width: 200px;
    width: 100%;

    .toolbar {
        display: flex;
        justify-content: center;
        padding: 10px;
        background-color: var(--sidebar-color);
        border-radius: 20px 20px 0px 0px;
        flex-direction: column;

        #path {
            min-height: 24px;
            display: flex;
            overflow-x: auto;
            padding: 10px;
            background-color: var(--background-color);
            border-radius: 40px;
            white-space: nowrap;
            align-items: center;
            box-sizing: content-box;
            overflow: hidden;

            #crumbs {
                display: flex;
                align-items: center;

                ul {
                    list-style: none;
                    display: inline-table;
                    margin: 0;
                    padding: 0;

                    li {
                        display: inline-block;
                        font-family: 'roboto-medium';
                        transition: opacity 0.2s ease-in-out;
                        cursor: pointer;



                        &:first-child {
                            span {
                                padding-left: 10px;
                                border-top-left-radius: 15px;
                                border-bottom-left-radius: 15px;
                                clip-path: polygon( 0 0, calc(100% - 10px) 0, 100% 50%, calc(100% - 10px) 100%, 0 100%, 0px 0% );

                                &:before {
                                    display: none;
                                }
                            }
                        }

                        span {
                            --crumb-bg-color: var(--highlight-color);
                            padding: 6px 15px 5px 15px;
                            position: relative;
                            margin: 0 -3px 0 0;
                            color: #eee;
                            background: var(--crumb-bg-color);
                            transition: ease-out .33s;
                            clip-path: polygon( 0 0, calc(100% - 10px) 0, 100% 50%, calc(100% - 10px) 100%, 0 100%, 10px 50% );

                            &:hover {
                                --crumb-bg-color: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.1)), var(--highlight-color);
                            }


                            &:before {
                                content: "";
                                border-top: 14px solid transparent;
                                border-bottom: 14px solid transparent;
                                border-left: 6px solid var(--background-color);
                                border-left: 6px solid var(--background-color);
                                position: absolute;
                                left: 0;
                                top: 0;
                            }

                            svg {
                                vertical-align: -6px;
                                display: inline-block;
                            }
                        }

                        &.ellipsis {
                            display: none;
                        }
                    }
                }
            }

            &.collapsed {
                #crumbs {
                    ul {
                        li {
                            display: none;
                        }

                        li:first-child {
                            display: inline-block;
                        }

                        li:last-child {
                            display: inline-block;
                        }

                        li.ellipsis {
                            display: inline-block;

                            span {
                                background: var(--highlight-color) !important;
                                cursor: not-allowed;
                            }
                        }
                    }
                }
            }
        }


        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .back-forward-btn {
            display: flex;
            align-items: center;
            column-gap: 10px;
        }

        .utility {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            column-gap: 10px;

            ::deep .mud-input-slot {
                color: var(--text-color);
            }

            ::deep .mud-input-label {
                color: var(--highlight-color) !important;
                background-color: var(--sidebar-color);
            }

            ::deep.mud-shrink ~ label.mud-input-label.mud-input-label-inputcontrol {
                color: var(--text-color) !important;
            }

            ::deep .mud-input {
                .mud-input-adornment-icon {
                    fill: var(--text-color);
                    z-index: 2;
                }

                .mud-input-slot {
                    z-index: 2;
                }
            }

            ::deep .mud-input-outlined-border {
                border-radius: 50px !important;
                border: 2px solid var(--secondary-color) !important;
                background-color: var(--secondary-color);
                margin-bottom: 5px !important;
            }
        }

        ::deep .mud-input-control {
            flex: unset;
        }
    }

    .table-section {
        position: relative;
        border-radius: 0px 0px 184px 20px;

        .loading-layer {
            position: absolute;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(5px);
            z-index: 2;
            border-radius: 0px 0px 20px 20px;
            pointer-events: none;
            opacity: 0;
            transition: .33s;
        }

        .loading {
            opacity: 1 !important;
            pointer-events: all;
        }

        .table-container {
            height: calc(100dvh - 450px);
            overflow-y: auto;
            background-color: var(--sidebar-color);
            border-radius: 0px 0px 20px 20px;

            table {
                width: 100%;
                min-width: 760px;
                border-collapse: collapse;
                table-layout: fixed;

                thead {
                    position: sticky;
                    top: 0;
                    z-index: 1;
                    background: var(--sidebar-color);
                    border-bottom: 0;
                    border: none;

                    th {
                        text-align: left;
                        padding-left: 10px;
                        background-color: var(--highlight-color);
                        color: white;
                        font-family: 'roboto-light';
                    }

                    ::deep.select-all {

                        .mud-icon-button {
                            padding: 0px 12px !important;
                        }
                    }
                }

                tr {
                    position: relative;

                    .action-layer {
                        position: absolute;
                        inset: 0 0 0 60px;
                        cursor: pointer;
                    }

                    &:nth-child(even) {
                        background-color: var(--primary-color);
                    }

                    td {
                        padding-left: 10px;

                        .icon-name-file {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            column-gap: 5px;
                            padding: 10px 0px;
                        }

                        .pointer {
                            cursor: pointer;
                        }
                    }
                }


                .text-center {
                    text-align: center;
                }

                .margin-right {
                    margin-right: 24px;
                }

                .icon-container {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .send-btn {
        display: flex;
        justify-content: center;
        flex-direction: column;

        ::deep.mud-button-filled.mud-button-filled-primary {
            background-color: var(--highlight-color);
        }
    }
}

@media(max-width: 600px) {
    .toolbar {
        flex-direction: column;


        ::deep .mud-input-control {
            flex: unset;
        }
    }

    .table-container {
        height: calc(100dvh - 405px);
    }
}

@media(hover:none) {
    span {


        &:hover {
            --crumb-bg-color: var(--highlight-color) !important;
        }


        &:before {
            content: "";
            border-top: 14px solid transparent;
            border-bottom: 14px solid transparent;
            border-left: 6px solid var(--background-color);
            border-left: 6px solid var(--background-color);
            position: absolute;
            left: 0;
            top: 0;
        }

        svg {
            vertical-align: -6px;
            display: inline-block;
        }
    }
}
