@import"../../../styles/light-dark.scss";

.main {
    .web-container {
        display: flex;
        color: var(--text-color);
        row-gap: 10px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;

        ::deep .mud-primary-text {
            color: var(--text-color) !important;
        }

        .web-tabs-container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            align-content: center;
            width: 100%;
            max-width: 300px;
            column-gap: 10px;
            background-color: var(--secondary-color);
            border-radius: 30px;
            font-family: 'roboto-light';
            font-size: .9rem;

            .tabs {
                width: 100%;
                text-align: center;
                padding: 10px;
                cursor: pointer;

                h4 {
                    z-index: 2;
                    position: relative;
                    transition: .33s;
                }
            }

            .active-tab {
                position: absolute;
                width: 50%;
                height: 100%;
                left: 0;
                border-radius: 30px 0 0px 30px;
                background-color: var(--highlight-color);
                filter: brightness(0.9);
                transition: .33s;
            }

            .activeOne {
                color: #eeee;
            }

            .active-second {
                border-radius: 0px 30px 30px 0px;
                transform: translateX(100%);
            }
        }
    }

    .web-content-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
