@import "../styles/light-dark.scss";
@import "../styles/modal-style.scss";



.backdrop-container {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    transition: 0.33s;
    z-index: 10;
}

.open {
    opacity: 1;
    pointer-events: all;
}


.pullable-container {
    position: fixed;
    background-color: var(--primary-color);
    width: 100dvw;
    height: 100dvh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1500px;
    z-index: 10;
    border-radius: 19px 19px 19px 19px;
    transition: transform .33s;
    transform-origin: bottom;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    .header {
        padding: 10px 15px;
        display: flex;
        align-items: center;
        min-height: 30px;
        justify-content: space-between;

        ::deep .mud-icon-root.mud-svg-icon {
            fill: var(--text-color);
        }

        .container {
            display: flex;
            align-items: center;
            column-gap: 5px;
            font-family: "roboto-medium";
        }

        .tools-container {
            display: flex;
            align-items: center;
            font-family: "roboto-medium";
            min-width: 190px;
            justify-content: flex-end;
            ::deep .mud-fab{
                box-shadow:unset !important;
            }
            ::deep .mud-fab-primary {
                background-color: var(--sidebar-color);
            }
        }




        .page-number {
            opacity: 1;
            color: var(--text-color);
            margin: 0px auto;
            font-family: "roboto-medium";
            transition: ease-out 0.3s;
        }


        .pdf-name-space {
            color: var(--text-color);
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            width: 220px;
            height: 16px;
            line-height: 18px;
        }

        .pdf-name-no-space {
            color: var(--text-color);
            overflow: hidden;
            text-overflow: ellipsis;
            width: 220px;
            height: 16px;
            line-height: 18px;
        }

        ::deep .mud-icon-button {
            padding: 0;
            padding-left: 10px;
            color: var(--text-color) !important;
        }
    }

    iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 55px;
        left: 0;
        
    }
}


.close {
    transform: translateY(320%) translateX(-50%);
}

@media (max-width: 1080px) {
    .pullable-container {
        max-width: calc(100dvw - 20px);

        .body {
            ::deep .pdf-page-canvas {
                        
                padding: 0px 5px;
            }
        }
    }
}

@media (max-width: 600px) {
    .pullable-container {
        width: 100%;
        height: 100%;
        max-width: none;
        border-radius: unset;

        .header {

            .pdf-name-space {
                width: 200px;
            }

            .pdf-name-no-space {
                width: 200px;
            }

            .tools-container {
                display: flex;
                align-items: center;
                font-family: "roboto-medium";
                min-width: 100px;
                justify-content: flex-end;
            }

            .page-number-hide {
                opacity: 0;
            }
        }
    }
}
