@import "../styles/light-dark.scss";

.drawer {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: 0.33s;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    color: var(--text-color);

    .backdrop-container {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 1;
        top: 0;
        left: 0;
        transition: 0.33s;
    }

    .info-container {
        height: 100%;
        width: 350px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: var(--primary-color);
        z-index: 6;
        transition: 0.33s;
        transform: translateX(100%);
        pointer-events: all;

        .info-header {
            border-bottom: 5px solid var(--highlight-color);

            h3 {
                display: flex;
                align-items: center;
                font-family: 'Kanit-Bold';
                text-transform: uppercase;
            }

            ::deep .mud-icon-button {
                color: var(--text-color) !important;
            }
        }

        .message {
            height: 290px;
            padding: 15px;
            margin-top: 15px;
            border-radius: 15px;
            /*background-color: var(--background-color);*/
            /* border: 3px solid var(--highlight-color);*/
            overflow-y: auto;
            overflow-x: hidden;


            ul {
                list-style: unset;
                padding:10px;
                li{
                    margin-bottom:10px;
                }
            }
        }

        ::deep .mud-button-outlined-primary {
            width: 150px;
            height: 40px;
            margin: 20px 10px;
            color: white;
            background-color: var(--highlight-color);
            border: 1px solid var(--highlight-color);
            border-radius: 50px;

            &:hover {
                filter: brightness(80%);
            }
        }
    }
}

@media (max-width: 600px){
    .drawer{
        z-index:12;
        .info-container{
            width:100% ;
        }
    }
}






.open-drawer {
    opacity: 1;
    pointer-events: all;

    .open-info-container {
        transform: translateX(0%);
        pointer-events: all;
    }
}
