@import"../../styles/light-dark.scss";
.running-agent {
    position: relative;
    background-color: var(--primary-color);
    border-radius: 20px;
    padding: 5px;

    .agent-type {
        position: absolute;
        display: flex;
        top: 5px;
        left: 5px;
        width: 40px;
        aspect-ratio: 1;
        background-color: var(--highlight-color);
        border-radius: 23px;
        justify-content: center;
        align-items: center;

        ::deep img {
            aspect-ratio: 1;
            width: 40px;
            color: #eee;
        }
    }

    .inverted-radius {
        --r: 20px;
        --s: 20px;
        --x: 5px;
        --y: 5px;
        width: 140px;
        height: 140px;
        background: var(--sidebar-color);
        border-radius: var(--r);
        --_m: /calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%);
        --_g: conic-gradient(at var(--r) var(--r), #000 75%, #0000 0);
        --_d: (var(--s) + var(--r));
        mask: calc(var(--_d) + var(--x)) 0 var(--_m), 0 calc(var(--_d) + var(--y)) var(--_m), radial-gradient(var(--s) at 0 0, rgba(0, 0, 0, 0) 99%, #000 calc(100% + 1px)) calc(var(--r) + var(--x)) calc(var(--r) + var(--y)), var(--_g) calc(var(--_d) + var(--x)) 0, var(--_g) 0 calc(var(--_d) + var(--y));
        mask-repeat: no-repeat;
        position: relative;

        .header, .body, .footer {
            position: absolute;
            color: var(--text-color);
            font-family: 'roboto-light';
        }

        .header {
            top: 41px;
            padding: 5px;
            width: 100%;
            height: 30%;

            ::deep.name {
                border-radius: 10px;
                padding: 5px;
                width: 100%;
                text-align: center;

                h4 {
                    font-size: 0.9em;
                }
            }
        }

        ::deep.body {
            top: 50px;
            font-size: .65em;
            padding: 10px;
            width: 100%;
            height: 100%;
            max-height: 41px;
            text-align: center;

            h1 {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        .footer {
            width: 100%;
            bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .btn {
                display: flex;
                width: 30px;
                height: 30px;
                aspect-ratio: 1;
                text-align: center;
                border-radius: 20px;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border: 2px solid var(--secondary-color);
                height: 40px;
                width: 40px;
                cursor: pointer;

                svg {
                    color: var(--text-color);
                }
            }
        }
    }
}
