@import "../styles/light-dark.scss";

.main {
}

.animation-holder {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    opacity: 0;
    transition: .33s;

    .container {
        --uib-size: 37px;
        --uib-color: var(--highlight-color);
        --uib-speed: .9s;
        --uib-bg-opacity: .1;
        height: var(--uib-size);
        width: var(--uib-size);
        transform-origin: center;
        overflow: visible;
    }

    .car {
        fill: none;
        stroke: var(--uib-color);
        stroke-dasharray: 15, 85;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        animation: travel var(--uib-speed) linear infinite;
        will-change: stroke-dasharray, stroke-dashoffset;
        transition: stroke 0.5s ease;
    }

    .track {
        stroke: var(--uib-color);
        opacity: var(--uib-bg-opacity);
        transition: stroke 0.5s ease;
    }

    @keyframes travel {
        0% {
            stroke-dashoffset: 0;
        }

        100% {
            stroke-dashoffset: -100;
        }
    }
}

.loading {
    opacity: 1 !important;
    pointer-events: all;
}
