@import "../../../styles/light-dark.scss";

.main {
}

.outlook-container {
    display: flex;
    color: var(--text-color);
    row-gap: 50px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    .outlook-content-container {
        width: 100%;
        height: calc(100dvh - 200px);
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        border-radius: 20px;

        .info-btn {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 15px;

            ::deep .mud-primary-text {
                color: var(--text-color) !important;
            }
        }


        .account-container {
            max-width: 540px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: var(--sidebar-color);
            padding: 10px;
            border-radius: 20px;
            color: var(--text-color);
            font-family: roboto-medium;

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                width: 250px;
            }

            ::deep .mud-icon-button {
                color: var(--text-color) !important;
            }
        }

        ::deep .mud-input-adornment {
            .mud-icon-button {
                color: var(--text-color) !important;
            }
        }

        ::deep .justify-start {
            justify-content: center !important;
        }

        ::deep .mud-paper {
            color: var(--text-color);
            background-color: var(--secondary-color);
            border-radius: 20px;

            .mud-button-filled {
                box-shadow: unset;
            }

            .mud-button-filled.mud-button-filled-primary {
                color: #eee;
                background-color: var(--highlight-color);
                font-family: "roboto-medium";
                border-radius: 20px;
                margin-left: auto;

                &:hover {
                    filter: brightness(80%) !important;
                }
            }

            .mud-button-filled.mud-button-filled-default {
                margin-right: 15px;
                border: 1px solid var(--highlight-color) !important;
                color: var(--text-color);
                font-family: "roboto-medium";
                border-radius: 50px !important;

                &:hover {
                    filter: brightness(80%) !important;
                }
            }

            .mud-input {
                color: var(--text-color);
            }
        }

        ::deep .mud-elevation-1 {
            box-shadow: unset !important;
            font-family: "roboto-medium";
        }

        ::deep .mud-input-label-inputcontrol {
            color: var(--text-color) !important;
            font-family: "roboto-medium";
        }

        ::deep .mud-input-error:after {
            color: var(--text-color) !important;
            font-family: "roboto-medium";
        }

        ::deep .mud-input-helper-text {
            color: var(--text-color);
            font-family: "roboto-medium";
        }

        ::deep .mud-input-control {
            .mud-input {
                .mud-input-adornment-icon {
                    fill: var(--text-color);
                    z-index: 2;
                }

                .mud-input-slot {
                    color: var(--text-color);
                    opacity: .8;
                    z-index: 2;
                }
            }
        }

        ::deep .mud-typography {
            font-family: "roboto-medium";
        }
    }
}
