@import "../../../styles/light-dark.scss";

.main {
    padding: 0;
}

.outer-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        overflow: hidden;
        height: 100%;
        width: 100%;
        max-width: 700px;
        padding-top: 1.1rem;

        .felx-container {
            overflow: hidden;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            scrollbar-gutter:stable;
            ::deep .mud-progress-linear.horizontal {
                width: 100%;
                max-width: 540px;
                margin-left: auto;
                margin-right: auto;
            }

            ::deep .mud-input-control {
                max-width: 540px !important;
                width: 100%;
                margin-left: unset !important;
                margin-right: unset !important;


                .mud-input {
                    .mud-input-adornment-icon {
                        fill: var(--text-color);
                        z-index: 2;
                    }

                    .mud-input-slot {
                        color: var(--text-color);
                        opacity: .8;
                        z-index: 2;
                    }
                }

                .mud-input-outlined-border {
                    border-radius: 50px !important;
                    border: 2px solid var(--secondary-color) !important;
                    background-color: var(--secondary-color);
                    margin-bottom: 5px !important;
                }

                .mud-input-adornment {
                    .mud-icon-root {
                        fill: var(--text-color) !important;
                    }
                }

                .mud-input {
                    font-family: "Kanit-Bold";
                }
            }

            ::deep .mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol {
                color: var(--text-color);
                font-family: 'Kanit-Bold';
                background-color: unset;
            }

            ::deep .mud-input:focus-within ~ label.mud-input-label.mud-input-label-inputcontrol {
                color: var(--text-color) !important;
            }

            ::deep .icon {
                color: var(--text-color);
            }



            ::deep .mud-switch {
                margin: 15px 0px;

                .mud-switch-span .mud-switch-track {
                    background-color: var(--highlight-color);
                }
            }

            ::deep.mud-button-filled.mud-button-filled-primary {
                border-radius: 50px;
                background-color: var(--highlight-color);
                margin-top: 10px;

                &:disabled {
                    background-color: var(--highlight-color) !important;
                    opacity: .5;
                }
            }

            .scroll-list {
                display: flex;
                width: 100%;
                min-height: 0;
                flex: 1 1 auto;
                overflow-y: auto;
                position: relative;
                justify-content: center;

                .gradient-box {
                    position: absolute;
                    width: 100%;
                    height: 10px;
                    top: 0px;
                    background: linear-gradient(var(--sidebar-color, #00000000), #00000000);
                    pointer-events: none;
                }

                .empty {
                    height: 270px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: var(--text-color);
                        font-family: 'Kanit-Bold';
                        font-size: 1.17em;
                    }

                    img {
                        width: 70px;
                        opacity: 0.8;
                        filter: var(--invert100-img);
                    }
                }

                .scroll-content {
                    /*                    display: flex;
                    flex-direction: row;
                    justify-content: center;*/
                    height: 100%;
                    position: absolute;

                    ::deep .mud-list {
                    }

                    .save-btn {
                        padding: 0px 10px;
                    margin-left: auto !important;
                        background-color: var(--highlight-color);
                        border-radius: 15px;
                        opacity: 0;
                        pointer-events: none;
                        transition: .33s;
                        text-align: center;

                        p {
                            color: #eee;
                            font-family: 'roboto-medium';
                            font-size: 1.17em;
                        }
                    }

                    section {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        ::deep.mud-icon-root.mud-svg-icon {
                            fill: var(--text-color);
                        }
                    }

                    .email-elem-container {
                        display: flex;
                        flex-direction: column;
                        background-color: var(--sidebar-color);
                        padding: 20px;
                        border-radius: 32px;
                        margin-top: 20px;
                    }

                    .option-container-1 {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;

                        ::deep .mud-chip-filled {
                            background-color: unset;
                            border: 1px solid;
                            fill: var(--text-color) !important;
                            color: var(--text-color) !important;
                        }

                        ::deep .mud-chip-text.mud-chip-color-success.mud-chip-selected {
                            background-color: var(--selected-highlight-color) !important;
                            fill: var(--highlight-color) !important;
                            color: var(--highlight-color) !important;
                            --mud-ripple-color: var(--mud-palette-success-text) !important;
                            font-family: roboto-medium;
                        }
                    }

                    .appear {
                        opacity: 1;
                        pointer-events: all;
                        cursor: pointer;
                    }

                    .email-address {
                        color: var(--text-color);
                        font-family: 'roboto-medium';
                        font-size: 1.17em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 250px;
                    }

                    ::deep .mud-input-control-helper-container {
                        display: none !important;
                    }

                    ::deep .mud-input > input.mud-input-root-outlined {
                        padding: 10.5px 0px 10.5px;
                        margin-bottom: 5px;
                    }

                    ::deep .mud-input-control {
                        max-width: 50px !important;
                        margin-left: 15px;
                        margin-right: unset;


                        .mud-input {
                            .mud-input-adornment-icon {
                                fill: var(--text-color);
                                z-index: unset;
                            }

                            .mud-input-slot {
                                color: var(--text-color);
                                opacity: .8;
                                z-index: unset;
                                text-align: center;
                                background-color: var(--secondary-color);
                                border-radius: 20px;
                                width: 40px;
                            }

                            .mud-input-numeric-spin {
                                display: none;
                                padding: 10px;

                                .mud-icon-root {
                                    fill: var(--highlight-color);
                                }
                            }
                        }

                        .mud-input-outlined-border {
                            border-radius: 50px !important;
                            border: unset !important;
                            background-color: unset;
                            margin-bottom: 5px !important;
                        }

                        .mud-input-adornment {
                            .mud-icon-root {
                                fill: var(--text-color) !important;
                            }
                        }

                        .mud-input {
                            font-family: "Kanit-Bold";
                        }
                    }

                    ::deep .mud-switch {
                        margin: 15px 0px;

                        .mud-switch-span .mud-switch-track {
                            background-color: var(--highlight-color);
                        }
                    }

                    ::deep .mud-button-filled.mud-button-filled-primary {
                        border-radius: 50px;
                        background-color: var(--highlight-color);
                        margin-top: 10px;

                        &:disabled {
                            background-color: var(--highlight-color) !important;
                            opacity: .5;
                        }
                    }
                }
            }

            .list-empty {
                height: 100%;
            }
        }

        ::deep .mud-input-control {
            max-width: 540px !important;
            margin-left: auto;
            margin-right: auto;
            flex: 0 0 auto;

            .mud-input {
                .mud-input-adornment-icon {
                    fill: var(--text-color);
                    z-index: 2;
                }

                .mud-input-slot {
                    color: var(--text-color);
                    opacity: .8;
                    z-index: 2;
                }
            }

            .mud-input-outlined-border {
                border-radius: 50px !important;
                border: 2px solid var(--secondary-color) !important;
                background-color: var(--secondary-color);
                margin-bottom: 5px !important;
            }

            .mud-input-adornment {
                .mud-icon-root {
                    fill: var(--text-color) !important;
                }
            }

            .mud-input {
                font-family: "Kanit-Bold";
            }
        }

        ::deep .mud-switch {
            margin: 15px 0px;

            .mud-switch-span .mud-switch-track {
                background-color: var(--highlight-color);
            }
        }

        ::deep .mud-button-filled.mud-button-filled-primary {
            border-radius: 50px;
            background-color: var(--highlight-color);
            margin-top: 10px;

            &:disabled {
                background-color: var(--highlight-color) !important;
                opacity: .5;
            }
        }
    }

    ::deep .mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol {
        color: var(--text-color);
        font-family: 'Kanit-Bold';
        background-color: unset;
    }

    ::deep .mud-input:focus-within ~ label.mud-input-label.mud-input-label-inputcontrol {
        color: var(--text-color) !important;
    }

    ::deep .icon {
        color: var(--text-color);
    }


    ::deep .modal-tabs.slide {
        .mud-tabs-tabbar {

            .mud-tabs-tabbar-inner {
                .mud-tabs-tabbar-content {
                    .mud-tabs-tabbar-wrapper {
                        ::after {
                            transform: translateX(100%);
                        }
                    }
                }
            }
        }
    }

    ::deep .mud-list {
        .mud-list-item {
            .mud-list-item-text {
                .mud-typography,
                .mud-typography-body1 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }

                a {
                    flex: 1;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 160px;
                    height: 1.2em;
                    white-space: nowrap;
                }

                .del-btn {
                    color: var(--text-color);
                }
            }
        }
    }
}
