@import "light-dark.scss";

@font-face {
    font-family: "roboto-light";
    src: url("/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "roboto-medium";
    src: url("/fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("/fonts/Roboto-Regular.ttf");
}


@font-face {
    font-family: "Kanit-Bold";
    src: url("/fonts/Kanit-Bold.ttf") format('truetype');
}

.modal {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    transition: .33s;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .backdrop-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .modal-body {
        -webkit-box-shadow: 0px 0px 94px -36px rgba(0,0,0,0.79);
        -moz-box-shadow: 0px 0px 94px -36px rgba(0,0,0,0.79);
        box-shadow: 0px 0px 94px -36px rgba(0,0,0,0.79);
        max-width: 540px;
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        z-index: 11;
        background-color: var(--secondary-color);
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        overflow: hidden;
        height: 100%;
        max-height: 550px;

        .modal-head {
            ::deep .mud-button {
                color: var(---text-color);
            }
        }

        .modal-content {
            margin-top: 20px;
            overflow: hidden;
            height: 100%;

            .headline {
                padding: 6px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                a {
                    color: var(--text-color);
                }
            }
        }
    }
}

.modal.open {
    display: flex;
    opacity: 1;
    pointer-events: all;
}



.modal {


    .modal-body {
        background-color: var(--primary-color);
        color: var(--text-color);

        .modal-head {
            ::deep .mud-button {
                color: var(--text-color);
            }
        }

        .modal-content {

            .headline {
                a {
                    color: var(--text-color);
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .modal {
        left: 100dvw;

        .backdrop-container {
        }

        .modal-body {
            width: 100dvw;
            height: 100dvh;
            max-height: 100dvh !important;
            padding: 10px;
            border-radius: 0px;
            z-index: 11;



            .modal-content {
                margin-top: 20px;

                .headline {
                    padding: 6px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 20px;
                }
            }
        }
    }

    .modal.open {
        transform: translateX(-100dvw);
    }
}
